@model ВиноХармони.Models.Winery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Winery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternationalPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternationalPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalReviews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalReviews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoogleMapsURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogleMapsURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
